header {
    background-color: #474e5d;
    color: #fff;
}
a {
    color: #1abc9c;
}
a:hover {
        text-decoration: none;
    color: rgba(26, 188, 156, 0.63);
}
body.inner header {
    border-bottom: 1px solid;
}
body.inner-black {
    background-color: #474e5d;
}
section.banner {
    background: #1abc9c;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 6%;
}
footer {
background-color: #474e5d;
    color: #fff;
    text-align: center;
    padding: 29px 0;
}
.navbar {
    background: transparent
}

.search-btn {
    border-color: #1abc9c;
    background: #1abc9c;
    color: #fff;
}
.search-btn:hover {
    background: #1abc9c
}
a.navbar-brand {
    color:#fff!important;
}

.navbar-nav a {
    color:#fff!important;
}

.navbar-nav li:hover a {
    color: #1abc9c;
}

section.sites {
    padding: 5% 0;
}
section.sites h4 {
    color: #1abc9c;
}

.btn-site {
    color: #fff!important;
    background-color: #1abc9c;
}

.btn-site:hover {
    background-color: #474e5d;
}
.box {
    min-height: 200px;
    position: relative;
}

.box a.btn-site {
    position: absolute;
    bottom: 10px;
}

section.main-header h1 {
   display: block;
   width: 100%;
}

section.main-header  {
    background: #1abc9c;
    padding: 3%;
    color: #fff;
}

section.main-body {
    padding: 2%;
}

section.main-body ul {
    padding: 0;
    width: 100%;
}
section.main-body ul li {
    list-style: none;
    padding: 13px 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
     box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.52);
}
section.main-body ul li:hover {
    background: rgba(204, 204, 204, 0.48);
}
.add-btn{
    background:#474e5d;
    color: #fff;
    border-color: #474e5d;
        display: block;
    width: 24%;
}
section.main-body ul li a {
    color: #474e5d;
    text-decoration: none;
    margin-bottom: 5px;
}

.navbar {
    padding-left: 0px;
    padding-right: 0px;
}

main.site {
    padding-top: 70px;
     background-color: #474e5d;
     color: #fff;

}

.delete-item {
    float: right;
    padding-left: 10px;
    color: #1abc9c!important;
}
.details {
    text-align: right;
    float: right;
    color: #1abc9c!important;
    padding-right: 10px;
    text-decoration: underline!important;
    padding-left: 10px;
    border-right: 1px solid;
    text-decoration-color: #1abc9c!important;
}

.delete-item:hover {
    color: red;
}
.breadcrumb {
    background: transparent;
}
.breadcrumb-item.active {
color: #fff;
}
.breadcrumb-item a {
    color:#1abc9c;
}

pre {
    color: #fff;
    max-width: 900px;
}