<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO-check by Bryteq</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/style.css" />
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
        function check_status(){
    var item = $(this);
    var id = item.getAttribute('data-id');
    $.ajax({
            url: '/get-status?id='+id,
            success: function(response){
                console.log(response);
                $(this).html(response);
            }
        })
  }
    </script>
</head>
<body>
<header>
   <div class="container">
       <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Bryteq</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>

            </ul>
            <a class="btn btn-outline-success search-btn" href="/logout">Logout</a>
          </div>
        </nav>
   </div>
</header>
<main class="main">
    <section class="main-header">
        <div class="container">
            <div class="row">
                <h1>Dashboard</h1>
                <p>Hello, {{user[0]['login']}}</p>
            </div>
            <div class="row">
                <form class="form-inline my-2 my-lg-0 col-md-12" method="POST" action="/add_new" style="padding: 0;">
                    <input type="text" name="url" class="form-control mr-sm-2 col-md-9" placeholder="Enter url to monitor">
                    <input type="submit" class="btn btn-outline-success add-btn ">
                </form>
            </div>
        </div>
    </section>

     <section class="main-body">
        <div class="container">
            <div class="row">
                    <ul>
                        {% for site in sites %}
                        <li>
                            <a>{{ site.url }}</a>
                            <span class="check_status" data-id="{{ site.id }}">
                            0
                                {% for status in statuses %}
                                    {% if status.site_id == site.id %}
                                        {% if status.id != 0 %}
                                            win
                                        {% endif%}
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <a class="delete-item" href="/site-delete?id={{site.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <a href="/site-statistic?id={{site.id}}" class="details">Changes statistics</a>
                            <a href="/site?id={{site.id}}" target="_blank" class="details">See basic data</a>
                        </li>
                        {% endfor%}
                    </ul>

            </div>
        </div>
     </section>
</main>
<script src="/static/js.js"></script>
<footer>
        <div class="container">
            <p>© 2017 Bryteq</p>
        </div>
</footer>
</body>
 </html>