<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO-check by Bryteq</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
     <link rel="stylesheet" href="/static/style.css" />
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<header>
   <div class="container">
       <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Bryteq</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-outline-success search-btn" type="submit">Search</button>
            </form>
          </div>
        </nav>
   </div>
</header>
<main class="site">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Site data manager</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>All sites</h3>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Saved data</th>
                       <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td><strong>Site url</strong></td>
                        <td>{{ site[0]['url'] }}</td>
                      <td>Nothing changed</td>
                      </tr>
                      <tr>
                            <td><strong>title</strong></td>
                            <td>{{sites_data[0]['title']}}</td>
                            <td>Nothing changed</td>
                      </tr>
                      <tr>
                        <td><strong>site response</strong></td>
                        <td>{{sites_data[0]['response']}}</td>
                          <td>Nothing changed</td>
                      </tr>
                       <tr>
                            <td><strong>Meta description</strong></td>
                            <td>{{sites_data[0]['meta_description']}}</td>
                            <td>Nothing changed</td>
                      </tr>

                     <tr>
                         <td><strong>h1</strong></td>
                        <td>{{sites_data[0]['h1']}}</td>
                         <td>Nothing changed</td>
                      </tr>

                    <tr>
                        <td><strong>robots</strong></td>
                        <td><pre><code>{{sites_data[0]['robots']}}</code></pre></td>
                        <td>Nothing changed</td>
                      </tr>
                    <tr>
                        <td><strong>sitemap</strong></td>
                        <td><pre><code>{{sites_data[0]['sitemap']}}</code></pre></td>
                        <td>Nothing changed</td>
                    </tr>

                    <tr>
                        <td><strong>html</strong></td>
                        <td><pre><code>{{sites_data[0]['html']}}</code></pre></td>
                        <td>Nothing changed</td>
                    </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</main>

</body>
</html>